<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Coiny&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <style>
    body {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
    }

    /* Header */
    .header {
      background-color: #3b82f6; /* Blue */
      padding: 1.5rem;
      display: flex;
      justify-content: center;
      margin-top: 3.5rem;
    }

    .header p {
      color: white;
      font-size: 1.25rem; /* For medium screens */
      font-weight: 300;
      text-align: center;
    }

    .header p {
      font-size: 1.125rem; /* For smaller screens */
    }

    /* Title */
    h1 {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 1.25rem;
      font-weight: 600;
    }

    /* Email Form */
    .email-form {
      padding: 1rem;
      margin-top: 1rem;
    }

    .email-form .greeting {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      color: gr;
    }

    .email-form h1 {
      font-size: 1.25rem;
      font-weight: bold;
    }

    .email-form p {
      margin-top: 1rem;
    }

    .code-boxes {
      display: flex;
      gap: 0.75rem;
      font-weight: bold;
      justify-content: center;
      margin-top: 2.5rem;
    }

    .code-box {
      background-color: #e0f2fe; /* Light blue */
      font-size: 1.25rem;
      padding: 0.75rem;
      border-radius: 0.375rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .expiry-info {
      display: flex;
      gap: 0.25rem;
      margin-top: 2rem;
    }

    .expiry-info .bold {
      font-weight: bold;
    }

    /* Footer */
    .footer {
      background-color: #3b82f6; /* Blue */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2.5rem;
      padding-bottom: 2.5rem;
    }

    .footer img {
      width: 6rem;
      margin-top: 0.5rem;
    }

    .footer .social-links {
      display: flex;
      gap: 0.5rem;
    }

    .footer .social-links a {
      text-decoration: none;
    }

    .footer .social-links img {
      width: 25px;
    }

    .footer .footer-text {
      display: flex;
      gap: 0.5rem;
      color: white;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      align-items: center;
    }

    .footer .footer-text a {
      text-decoration: underline;
      color: white;
    }

    .footer .footer-text div {
      width: 0.5rem;
      height: 0.5rem;
      background-color: white;
      border-radius: 50%;
    }
  </style>
</head>
<body>

    <div class="header">
        <p>Find your space in every place</p>
    </div>

    <h1>Verify your Account</h1>

    <div class="email-form">
        <div class="greeting">
            <h1>Hi</h1><h1><%=@user.name %>,</h1>
        </div>
        <p>You have chosen this email address for your Densiflow Account. To verify this address belongs to you, please enter the code below on the email verification page:</p>
        
              <div class="code-boxes">
  <% @user_otp_code.chars.each do |digit| %>
    <span class="code-box"><%= digit %></span>
  <% end %>
</div>

        <div class="expiry-info">
            <p>This code will expire in</p>
            <p class="bold">5 minutes.</p>
        </div>

        <p>If you didn’t initiate the request, you can safely ignore the mail</p>
    </div>

    <div class="footer">
        <img src="https://firebasestorage.googleapis.com/v0/b/densiflowapp.appspot.com/o/Clip%20path%20group.png?alt=media&token=45e929cc-762a-40b9-940f-34e9c9b19aca" alt="Logo">

        <div class="social-links">
            <a href=""><img src="https://firebasestorage.googleapis.com/v0/b/densiflowapp.appspot.com/o/l1.png?alt=media&token=0d7807c2-c175-40ea-836f-be11b9c057c0" alt="Link 1"></a>
            <a href=""><img src="https://firebasestorage.googleapis.com/v0/b/densiflowapp.appspot.com/o/l2.png?alt=media&token=3a4e480c-8c10-4b2d-81ea-7ca177004d87" alt="Link 2"></a>
            <a href=""><img src="https://firebasestorage.googleapis.com/v0/b/densiflowapp.appspot.com/o/l3.png?alt=media&token=77a939fe-d635-48fd-b7fd-3baffc52c11d" alt="Link 3"></a>
            <a href=""><img src="https://firebasestorage.googleapis.com/v0/b/densiflowapp.appspot.com/o/l4.png?alt=media&token=67553487-449b-497d-8110-724cb5076f13" alt="Link 4"></a>
        </div>

        <div class="footer-text">
            <a href="">Privacy policy</a>
            <div></div>
            <a href="">Contact Us</a>
            <div></div>
            <a href="">Unsubscribe</a>
        </div>
    </div>

</body>
</html>
