<!DOCTYPE html>
<html lang="en" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">

<head>
    <title>Account Verification</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Coiny&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body
    style="font-family: 'Poppins', Arial, Helvetica, sans-serif; margin: 0; padding: 0; width: 100% !important; -webkit-text-size-adjust: 100%; background-color: #ffffff;">
    <table class="wrapper" width="100%" style="width: 100%; table-layout: fixed;">
        <tr>
            <td class="header" style="background-color: #3B82F6; padding: 1.5rem; text-align: center;">
                <p class="header-text" style="color: white; font-size: 1.25rem; font-weight: 200; margin: 0;">Find your
                    space in every place</p>
            </td>
        </tr>
        <tr>
            <td>
                <h1 class="verify-title"
                    style="color: #3B82F6; font-size: 1.5rem; text-align: center; margin: 1.25rem 0; font-weight: 600;">
                    Password Reset</h1>
            </td>
        </tr>
        <tr>
            <td>
                <div class="email-form" style="padding: 1rem; max-width: 600px; margin: 0 auto;">
                    <div class="greeting" style="margin-bottom: 1rem;">
                        <h1 class="greeting-name"
                            style="font-size: 1.25rem; font-weight: bold; font-family: 'Poppins', sans-serif;">Hi <%=@user.name %>,</h1>
                    </div>
                    <p class="verification-text" style="margin: 0.1rem 0;">You've requested a code to reset the password for your Densiflow account. Enter the code below to continue with the reset process.</p>
                    <div class="verification-code" style="text-align: center; margin: 2.5rem 0;">
                    <% @user_otp_code.chars.each do |digit| %>
                        <p class="code"
                            style="background-color: #E0F2FE; padding: 0.75rem 1.5rem; font-size: 1.25rem; border-radius: 0.375rem; margin: 0 0.25rem; display: inline-block;">
                            <%= digit %></p>
                              <% end %>
                    </div>
 
                    <p class="additional-info" style="margin-top: 1.25rem; text-align: start;">If you didn’t initiate
                        the request, you can safely ignore this email.</p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="footer"
                style="background-color: #3B82F6; text-align: center; padding: 1.5rem; margin-top: 1.25rem;">
                <img class="logo" style="width: 6rem; margin-bottom: 0.1rem;"
                    src="https://firebasestorage.googleapis.com/v0/b/densiflowapp.appspot.com/o/Clip%20path%20group.png?alt=media&token=45e929cc-762a-40b9-940f-34e9c9b19aca"
                    alt="Logo">
                <div class="social-links" style="text-align: center;">
                    <a target="_blank style="color: white;" href="https://www.facebook.com/Excesol"><img style="width: 25px; margin: 0 5px; color: white;"
                            src="https://firebasestorage.googleapis.com/v0/b/densiflowapp.appspot.com/o/facebook.png?alt=media&token=f124ed42-b725-4685-947e-5f83b1c4401f"
                            alt="Social Link 1"></a>
                    <a style="color: white;" href="{{social_link_2}}"><img style="width: 25px; margin: 0 5px;"
                            src="https://firebasestorage.googleapis.com/v0/b/densiflowapp.appspot.com/o/linkedin.png?alt=media&token=e46712d3-8e63-48b3-9e7c-9e4d81fb8864"
                            alt="Social Link 2"></a>
                    <a style="color: white;" href="{{social_link_3}}"><img style="width: 25px; margin: 0 5px;"
                            src="https://firebasestorage.googleapis.com/v0/b/densiflowapp.appspot.com/o/instagram.png?alt=media&token=3cd0fa64-f720-4168-982b-4e957953af11"
                            alt="Social Link 3"></a>
                    <a style="color: white;" href="{{social_link_4}}"><img style="width: 25px; margin: 0 5px;"
                            src="https://firebasestorage.googleapis.com/v0/b/densiflowapp.appspot.com/o/twitter.png?alt=media&token=811f1d3d-e8a7-41db-a7ce-68af02972074"
                            alt="Social Link 4"></a>
                </div>
                <div class="footer-links" style="text-align: center; color: white; margin-top: 0.5rem;">
                    <a href="{{privacy_policy_link}}"
                        style="text-decoration: underline; color: white; margin: 0 5px;">Privacy policy</a>
                    <span class="separator"
                        style="width: 0.425rem; height: 0.425rem; background-color: white; border-radius: 50%; display: inline-block; margin: 0 5px; color: white;"></span>
                    <a href="{{contact_us_link}}"
                        style="text-decoration: underline; color: white; margin: 0 5px;">Contact Us</a>
                    <span class="separator"
                        style="width: 0.425rem; height: 0.425rem; background-color: white; border-radius: 50%; display: inline-block; margin: 0 5px; color: white;"></span>
                    <a href="{{unsubscribe_link}}"
                        style="text-decoration: underline; color: white; margin: 0 5px;">Unsubscribe</a>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>